---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I am a member of the teaching staff for <a href="http://www.data8.org/">DATA C8: Foundations of Data Science</a>, a 1,500+ person course at UC Berkeley that teaches students of all majors and statistics/computer science backgrounds the core concepts of inference and computing while working hands-on with real data. I am also a recipient of the Outstanding Graduate Student Instructor (<a href="https://gsi.berkeley.edu/programs-services/award-programs/ogsi/">OGSI</a>) Award in <a href="https://data.berkeley.edu/">Data Science</a>.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
