---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I am a member of the teaching staff for <a href="http://www.data8.org/">DATA 8: Foundations of Data Science</a>, a 2000+ person (<em>the largest ever!</em>) course at UC Berkeley that teaches students of all majors and statistics/computer science backgrounds the core concepts of inference and computing while working hands-on with real data.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
